* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/outerspace.jpg");
    font-family: Comic-Sans;
}

@font-face {
    font-family: Comic-Sans;
    src: url('../fonts/IBMPlexSans-Regular.ttf');
}

.luke {
    background-image: url("../images/luke.jpeg");
    background-size: cover;
}